$toolbar-height: 42px !default;
$sidebar-width: 192px !default;
$option-width: 252px !default;

app-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $toolbar-height;
}

app-sidebar {
  position: fixed;
  top: $toolbar-height;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
}

app-stage {
  position: fixed;
  top: 0;
  right: $option-width;
  bottom: 0;
  left: $sidebar-width;
}

app-option {
  position: fixed;
  top: $toolbar-height;
  right: 0;
  bottom: 0;
  width: $option-width;
}
