.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

nz-sider {
  height: 100vh;
}

nz-header {
  background-color: #fff;
  padding: 0;
}

nz-content {
  margin: 0 1rem;
}

main {
  padding: 1rem;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

nz-breadcrumb {
  margin: 1rem 0;
}
