
// 行
.fb-row {
  display: flex;
  flex-wrap: nowrap;
  padding: .5rem;
}

// 列
.fb-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  min-height: 1.5rem;
}

// 高亮
.highlight {
  outline: 1px dashed rgba(170,170,170,0.5);
  outline-offset: -2px;
}

.highlight-hint {
  outline: 1px dashed green !important;
  outline-offset: -2px;
}

.highlight-over {
  outline: 1px dashed $primary !important;
  outline-offset: -2px;
}

//
// Drag and drop
//

// .drag-handle {
//   cursor: move;
//   cursor: grab;
//   cursor: -moz-grab;
//   cursor: -webkit-grab;
// }

// .drag-handle:active {
//   cursor: grabbing;
//   cursor: -moz-grabbing;
//   cursor: -webkit-grabbing;
// }

// .drag-hint {
//   outline: 1px dashed green;
// }

// .drag-over {
//   outline: 1px dashed $primary;
// }
