<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand text-center mr-0" href="#">FormBuilder</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">
        <i class="iconfont icongithub-fill"></i>
      </a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <div app-sidebar class="col-md-2 d-none d-md-block bg-light sidebar"></div>
    <div app-stage></div>
    <div app-panel class="col-md-2 d-none d-md-block bg-light panel"></div>
  </div>
</div>
