//
// Color system
//
$theme-primary: #6200ee !default;
$theme-accent: #018786 !default;
$theme-secondary: #018786 !default;
$theme-background: #fff !default;
$theme-surface: #fff !default;
$theme-success: green !default;
$theme-error: #b00020 !default;
$theme-warning: yellow !default;
$theme-link: blue !default;
$theme-dark: #000 !default;
$theme-light: #FFF !default;

$theme-on-dark: #FFF !default;
$theme-on-light: #000 !default;

// 主题色调
$theme-colors: (
  'primary': $theme-primary,
  'accent': $theme-accent,
  'secondary': $theme-secondary,
  'background': $theme-background,
  'surface': $theme-surface,
  'error': $theme-error,
  'warning': $theme-warning,
  'link': $theme-link,
  'dark': $theme-dark,
  'light': $theme-light
) !default;
